In [1]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('fraudTrain.csv')
t_df = pd.read_csv('fraudTest.csv')

In [165]:
# Understand the Data

In [5]:
# check coulmns type and missing values and shape of data 
df.info()   
# this mean nulls = zero 
# we need to convert any object to numrical value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB

In [7]:
# get statistics on numrical columns ( int or float ) 
df.describe()

,Unnamed: 0,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06,1.296675e+06
mean,6.483370e+05,4.171920e+17,7.035104e+01,4.880067e+04,3.853762e+01,-9.022634e+01,8.882444e+04,1.349244e+09,3.853734e+01,-9.022646e+01,5.788652e-03
std,3.743180e+05,1.308806e+18,1.603160e+02,2.689322e+04,5.075808e+00,1.375908e+01,3.019564e+05,1.284128e+07,5.109788e+00,1.377109e+01,7.586269e-02
min,0.000000e+00,6.041621e+10,1.000000e+00,1.257000e+03,2.002710e+01,-1.656723e+02,2.300000e+01,1.325376e+09,1.902779e+01,-1.666712e+02,0.000000e+00
25%,3.241685e+05,1.800429e+14,9.650000e+00,2.623700e+04,3.462050e+01,-9.679800e+01,7.430000e+02,1.338751e+09,3.473357e+01,-9.689728e+01,0.000000e+00
50%,6.483370e+05,3.521417e+15,4.752000e+01,4.817400e+04,3.935430e+01,-8.747690e+01,2.456000e+03,1.349250e+09,3.936568e+01,-8.743839e+01,0.000000e+00
75%,9.725055e+05,4.642255e+15,8.314000e+01,7.204200e+04,4.194040e+01,-8.015800e+01,2.032800e+04,1.359385e+09,4.195716e+01,-8.023680e+01,0.000000e+00
max,1.296674e+06,4.992346e+18,2.894890e+04,9.978300e+04,6.669330e+01,-6.795030e+01,2.906700e+06,1.371817e+09,6.751027e+01,-6.695090e+01,1.000000e+00

In [171]:
#Detect and Handle Outliers

In [173]:
# check outlairs for numrical columns  

numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns


outliers_dict = {}

for col in numerical_columns:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    ##################### after correct ##################
    if ( col == "amt"):
        df['amt'] = df['amt'].clip(lower=lower_bound , upper=upper_bound)
    if (col == "city_pop" ) :
        df['city_pop'] = df['city_pop'].clip(lower=lower_bound , upper=upper_bound)
    #print ("lower_bound" , lower_bound )
    #print ("upper_bound" , upper_bound)
    # Store outliers for each column
    outliers_dict[col] = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    print(f"Outliers in {col}: {int((outliers_dict[col].shape[0]/1296675)*100)} % rows")
    # we need to deal with effective columns only .... " amt " = 5 %  , " city_pop " = 18 %

Outliers in Unnamed: 0: 0 % rows
Outliers in cc_num: 9 % rows
Outliers in amt: 0 % rows
Outliers in zip: 0 % rows
Outliers in lat: 0 % rows
Outliers in long: 3 % rows
Outliers in city_pop: 0 % rows
Outliers in unix_time: 0 % rows
Outliers in merch_lat: 0 % rows
Outliers in merch_long: 3 % rows
Outliers in is_fraud: 0 % rows

In [175]:
# check outlairs for categorical columns
categorical_columns = df.select_dtypes(include=['object', 'category']).columns

# Dictionary to store rare categories for each column
rare_categories = {}

# Loop through each categorical column
for col in categorical_columns:
    print(f"Analyzing column: {col}")
    category_counts = df[col].value_counts()
    # Define a threshold for rarity (e.g., <1% of total data)
    threshold = len(df) * 0.01 
    rare = category_counts[category_counts < threshold].index 
    # Store rare categories for the column
    rare_categories[col] = list(rare)
    print(f"Rare categories in '{col}': {int((rare.shape[0]/1296675)*100)} % ")
    print("-" * 50)
    # we do not need to handle any thing

Analyzing column: trans_date_trans_time
Rare categories in 'trans_date_trans_time': 98 %
--------------------------------------------------
Analyzing column: merchant
Rare categories in 'merchant': 0 %
--------------------------------------------------
Analyzing column: category
Rare categories in 'category': 0 %
--------------------------------------------------
Analyzing column: first
Rare categories in 'first': 0 %
--------------------------------------------------
Analyzing column: last
Rare categories in 'last': 0 %
--------------------------------------------------
Analyzing column: gender
Rare categories in 'gender': 0 %
--------------------------------------------------
Analyzing column: street
Rare categories in 'street': 0 %
--------------------------------------------------
Analyzing column: city
Rare categories in 'city': 0 %
--------------------------------------------------
Analyzing column: state
Rare categories in 'state': 0 %
--------------------------------------------------
Analyzing column: job
Rare categories in 'job': 0 %
--------------------------------------------------
Analyzing column: dob
Rare categories in 'dob': 0 %
--------------------------------------------------
Analyzing column: trans_num
Rare categories in 'trans_num': 100 %
--------------------------------------------------

In [177]:
#check outlairs for time and date 
# Extract hour and day of the week
from datetime import timedelta as td
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'], errors='coerce')
df['hour'] = df['trans_date_trans_time'].dt.hour
df['day_of_week'] = df['trans_date_trans_time'].dt.dayofweek
# Convert timestamps to days since the minimum date
df['days_since_start'] = (df['trans_date_trans_time'] - df['trans_date_trans_time'].min()).dt.days

# Apply IQR method
Q1 = df['days_since_start'].quantile(0.25)
Q3 = df['days_since_start'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
timestamp_outliers = df[(df['days_since_start'] < lower_bound) | (df['days_since_start'] > upper_bound)]
print(f"Timestamp Outliers:\n {int((timestamp_outliers.shape[0]/1296675)*100)} % " )
# we do not need handle any thing

Timestamp Outliers:
 0 %

In [179]:
# check Duplicates ( only one case we need to drop if repeted ... is the same card at the same time 
df = df.drop_duplicates(subset=['trans_date_trans_time', 'cc_num'], keep=False)

In [ ]:
def convert_gender(text):
    if text=='M':
        return 1
    return 0
df['gender']=df['gender'].apply(convert_gender)
print(df['category'].value_counts())

In [ ]:
# columns to drop : trans-date / merchent / firt / last / street / city / state / dob